---
layout: main
---
<!-- this is an article -->

<!-- nav -->
{% include nav %}

<!-- article title -->
<p class="text-5xl md:text-6xl font-black pt-10 md:pt-30 pb-4 leading-tight dark:text-titles">
    {{ title}}
</p>

<!-- date and time to read -->
<div class="dark:text-soft-white">
    <em>{{ date | date: "%Y-%m-%d" }}</em> &middot; 
    <span>{{ content | readTime }} min read</span>
</div>

<!-- tags -->
<div class="mt-3 pb-10 dark:text-soft-white">
  {% for tag in tags %}
    {% if tag != "posts" %}
      <a href="/tags/{{ tag }}">
        <span class="post-tag">{{ tag }}</span>
      </a>
    {% endif %}
  {% endfor %}
  </div>

<!-- article content -->
<div class="prose dark:prose-dark" id="proseLinkColor">
  {{ content }}
</div>

<!-- author info -->
{% include author %}